<div class="row">
    <div class="col-md-6">
        <h4>Información a la fecha 23-06-2022 Apto No: 4A.</h4>
    </div>
    <div class="col-md-6">
        <h4 class="text-end">Balance actual: 400 Bs</h4>
    </div>
    <div class="col-12">
        <h6>Histórico de actividades de cuenta</h6>
        <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tipo</th>
                <th scope="col">Monto</th>
                <th scope="col">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>15/03/2022</td>
                <td>PAGO MES DE MARZO</td>
                <td>ABONO / PAGO CUOTA COMPLETA</td>
                <td><b>Bs.</b> 100</td>
                <td><b>Bs.</b> 200</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>