<div class="row">
    <div class="col-md-6">
        <div class="ps-3 mb-3 row">
            <label for="inputIdUsuario" class="col-sm-2 col-form-label">Id. Usuario</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputIdUsuario" disabled>
            </div>
        </div>
        <div class="ps-3 mb-3 row">
            <label for="inputNombreCompleto" class="col-sm-2 col-form-label">Nombre Completo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombreCompleto">
            </div>
        </div>
        <div class="ps-3 mb-3 row">
            <label for="inputTelefono" class="col-sm-2 col-form-label">Teléfono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelefono">
            </div>
        </div>
        <div class="ps-3 mb-3 row">
            <label for="inputCorreo" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCorreo">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h6>Cambio de clave</h6>
        <div class="ps-3 mb-3 row">
            <label for="inputClaveAnterior" class="col-sm-2 col-form-label">Anterior</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputClaveAnterior">
            </div>
        </div>
        <div class="ps-3 mb-3 row">
            <label for="inputClaveNueva" class="col-sm-2 col-form-label">Nueva</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputClaveNueva">
            </div>
        </div>
        <div class="ps-3 mb-3 row">
            <label for="inputClaveRepetir" class="col-sm-2 col-form-label">Repetir</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputClaveRepetir">
            </div>
        </div>
    </div>
</div>

<div class="mb-5 text-center">
    <button class="btn btn-success" click="showSuccess()">GUARDAR CAMBIOS</button>
</div>