<div class="row mb-5">
    <div class="col-md-6 align-self-center bg-info py-5">
        <div>
            <h4 class="text-center">{{infoCond?.nombre}}, RIF. {{infoCond?.rif}}</h4>
            <p class="text-center">{{infoCond?.direccion}}</p>
        </div>
    </div>
    <div class="col-md-6" [formGroup]="formLogin">
        <h2 class="text-center">INICIO DE SESION</h2>
        <div class="mx-auto mb-3" style="max-width: 250px;">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" formControlName="inputUsuario">
        </div>
        <div class="mx-auto mb-3" style="max-width: 250px;">
            <label for="clave" class="form-label">Clave</label>
            <input type="text" class="form-control" id="clave" formControlName="inputClave">
        </div>
        <div class="text-center mb-4">
            <button class="btn btn-primary" (click)="processLogin()">INGRESAR</button>
        </div>
        <div class="text-center">
            <a class="d-block" routerLink="../recovery-password">Recuperación de clave</a>
            <a class="d-block" routerLink="../register-owner">Registrarme</a>
        </div>
    </div>
</div>