<h2>FORMULARIO DE REGISTRO</h2>

<div class="px-2" [formGroup]="formRegister">
  <p class="fw-bold">Información del condominio</p>
  <div class="ps-3 mb-3 row">
    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNombre" formControlName="inputNombre" placeholder="Indique, Nombre del condominio">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputUbicacion" class="col-sm-2 col-form-label">Dirección</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUbicacion" formControlName="inputUbicacion" placeholder="Indique, Calle, Nro de local, Sector, Urbanización, Municipio, Distrito, Estado, País">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputRIF" class="col-sm-2 col-form-label">RIF</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRIF" formControlName="inputRIF" placeholder="Indique, numero de rif del condominio">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputTotalAptos" class="col-sm-2 col-form-label">N° Aptos</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTotalAptos" formControlName="inputTotalAptos" placeholder="Indique, numero total de apartamentos del condominio">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputTelefonoC" class="col-sm-2 col-form-label">N° teléfono</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTelefonoC" formControlName="inputTelefonoC" placeholder="Indique, Numero de telélefono del condominio">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputCorreoC" class="col-sm-2 col-form-label">Correo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCorreoC" formControlName="inputCorreoC" placeholder="Indique, correo electronico del condominio">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputRRSS" class="col-sm-2 col-form-label">Red social</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRRSS" formControlName="inputRRSS" placeholder="Indique, enlace de la red social del condominio">
    </div>
  </div>

  <p class="mt-5 fw-bold">Información del administrador</p>
  <div class="ps-3 mb-3 row">
    <label for="inputNCompleto" class="col-sm-2 col-form-label">Nombre Completo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNCompleto" formControlName="inputNCompleto">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputDIdentificacion" class="col-sm-2 col-form-label">Doc. Identificación</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDIdentificacion" formControlName="inputDIdentificacion">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputTelefono2" class="col-sm-2 col-form-label">Teléfono</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTelefono2" formControlName="inputTelefono2">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputCorreo" class="col-sm-2 col-form-label">Correo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCorreo" formControlName="inputCorreo">
    </div>
  </div>
  <div class="ps-3 mb-3 row">
    <label for="inputContasena" class="col-sm-2 col-form-label">Contaseña</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputContasena" formControlName="inputContasena">
    </div>
  </div>
  <div class="mb-5 text-center">
    <button class="btn btn-primary" (click)="showSuccess()">REGISTRARME</button>
  </div>
</div>