<div class="row pb-5">
    <div class="col-md-8">
        <div class="d-block mb-3 bg-info p-5">
            <h4>CARTELERA INFORMATIVA</h4>
            <p>{{infoCartelera}}</p>
        </div>
        <div class="d-block">
            <h6>Enlaces de interes:</h6>
            <ul>
                <li>
                    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalListadoMorosos">
                        Listado de morosos
                    </a>
                </li>
                <li>
                    <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalListadoCuentas">
                        Rendición de cuentas
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row mb-4">
            <div class="col-md-8 fw-bold">
                SALDO
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <a class="btn btn-primary">$</a>
                    <a class="btn btn-primary">Bs</a>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" style="background-color: #239653;">
                <h4>$/Bs</h4>
            </div>
            <div class="col-md-9" style="background-color: #239653c2;">
                <p class="text-end">Tasa BCV (16-06-2022)</p>
                <p class="text-end">4,50 Bs</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" style="background-color: #3b8bc0;">
                <h4>$/Bs</h4>
            </div>
            <div class="col-md-9" style="background-color: #3b8bc0b9;">
                <p class="text-end">Deuda ordinaria</p>
                <p class="text-end">4,50 Bs</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" style="background-color: #2a7a99;">
                <h4>$/Bs</h4>
            </div>
            <div class="col-md-9" style="background-color: #2a7a99c0;">
                <p class="text-end">Deuda especial</p>
                <p class="text-end">4,50 Bs</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" style="background-color: #dabc38;">
                <h4>$/Bs</h4>
            </div>
            <div class="col-md-9" style="background-color: #dabc38be;">
                <p class="text-end">Deuda interes</p>
                <p class="text-end">4,50 Bs</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3" style="background-color: #b84326;">
                <h4>$/Bs</h4>
            </div>
            <div class="col-md-9" style="background-color: #b84326b9;">
                <p class="text-end">Deuda total</p>
                <p class="text-end">4,50 Bs</p>
            </div>
        </div>

        <div class="text-end">
            <button class="btn btn-success" routerLink="/payments">PAGAR FACTURA</button>
        </div>
    </div>
</div>



<!-- Modal LISTO DE MOROSOS -->
<div class="modal fade" id="modalListadoMorosos" tabindex="-1" aria-labelledby="modalListadoMorososLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalListadoMorososLabel">LISTADO DE MOROSOS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Apartamento</th>
                <th scope="col">Cuotas pendientes</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>4-A</td>
                <td>2</td>
                <td><b>Bs.</b> 340.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>3-C</td>
                <td>8</td>
                <td><b>Bs.</b> 1640.00</td>
              </tr>
            </tbody>
        </table>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal LISTO DE MOROSOS -->
<div class="modal fade" id="modalListadoCuentas" tabindex="-1" aria-labelledby="modalListadoCuentas" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalListadoCuentas">LISTADO DE MOROSOS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <table class="table table-success table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Clasificación</th>
                  <th scope="col">Tipo de gasto</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Couta</th>
                  <th scope="col">Factura</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cuota ordinaria</td>
                  <td>Serv. luz</td>
                  <td>Pago de Servicios</td>
                  <td><b>Bs.</b> 134.00</td>
                  <td><b>Bs.</b> 23</td>
                  <td><i class="fa-solid fa-2x fa-file-arrow-down"></i></td>
                </tr>
              </tbody>
          </table>
  
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>
        </div> -->
      </div>
    </div>
</div>