<h1 class="mt-5">Titulo vergatario</h1>
<p class="lead">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ad, dicta autem necessitatibus voluptatibus pariatur totam molestias ratione explicabo accusantium ducimus suscipit, officiis vero deleniti dignissimos, rerum eum odit doloribus!
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi odit, libero, vero corporis necessitatibus recusandae harum, ea architecto distinctio asperiores eaque. Voluptatum recusandae molestias voluptate saepe nisi distinctio iure!
</p>
<button class="btn btn-primary" routerLink="/register">REGISTRARME</button>

<h1 class="mt-5">Lista de condominios</h1>
<select class="form-select" aria-label="Default select example" [formControl]="selectCond">
    <option value="" selected>Open this select menu</option>
    <option *ngFor="let item of allCond" [value]="item.codigo_condominio">{{item.nombre_condominio}}</option>
</select>