<div class="row mb-5">
    <div class="col-md-6 align-self-center bg-info py-5">
        <div>
            <h4 class="text-center">GESTION DE CONDOMINIOS</h4>
            <p class="text-center">Sistema web de administración de condominios</p>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">RECUPERACIÒN DE CLAVE</h2>
        <p class="px-5 text-muted" style="text-align:justify">Ingrese el usuario y se le enviara al correo electronico registrado en el sistema su contraseña</p>
        <div class="mx-auto mb-3" style="max-width: 250px;">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario">
        </div>
        <div class="text-center mb-4">
            <button class="btn btn-primary">ENVIAR</button>
        </div>
        <div class="text-center">
            <a class="d-block" routerLink="/login">Iniciar sesion</a>
        </div>
    </div>
</div>