<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top">
        <div class="container-fluid">
            <img width="10%" alt="ATP Logo"
                src="https://atpendocrina.com/image-atp/cropped-cropped-LOGO-atpe-150x66.png" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn nav-link" (click)="selectHome()">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" *ngIf="infoCond != undefined" (click)="closeSession()">CERRAR SESIÓN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-info py-5" *ngIf="infoCond == undefined">
        <h4 class="text-center">GESTION DE CONDOMINIOS</h4>
        <p class="text-center">Sistema web de administración de condominios</p>
    </div>
    <div class="container-fluid bg-info py-5" *ngIf="infoCond != undefined">
        <h4 class="text-center">Condominio residencial {{infoCond?.nombre_condominio}}</h4>
        <h6 class="text-center">RIF. {{infoCond?.rif}}</h6>
        <p class="text-center mb-0">{{infoCond?.direccion}}</p>
        <p class="text-center mb-0">Correo electronico: {{infoCond?.correo}}</p>
        <p class="text-center mb-0">Teléfono: {{infoCond?.telefono}}</p>
        <p class="text-center">Red Social: <a [href]="infoCond?.rrss" target="_blank">{{infoCond?.nombre_condominio}}</a></p>
        <p class="text-center">Usuario: {{infoCond?.nombre_usuario}}, N° Apartamento: {{infoCond?.nro_apto}}</p>
    </div>
</header>

<main class="flex-shrink-0">
    <div class="container my-5">
      <router-outlet></router-outlet>
    </div>
</main>

<footer class="footer bg-info mt-auto py-3">
    <div class="container text-end">
        <span class="text-white">Desarrollado por <b>Rafael Carrizalez</b></span>
    </div>
</footer>

<ngx-spinner type="ball-scale-multiple"><p style="color: white"> Loading... </p></ngx-spinner>